@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body {

  color: #433f39;

  font-size: 15px;

  font-family: 'Lato', sans-serif;  /* line-height: 1.6; */

  background-image: url(../images/body-bg.png);

}

img {

  max-width: 100%;

}

a {

  text-decoration: none;

  color: #433f39;

  -webkit-transition-duration: 0.6s;

  transition-duration: 0.6s;

  -moz-transition-duration: 0.6s;

  -ms-transition-duration: 0.6s;

}

a:hover, a:focus, a.active {

  text-decoration: none;

  outline: none;

}

a:hover {

  color: #000;

}

textarea, textarea:focus, input, input:focus, input[type="checkbox"]:focus {

  outline: none;

}

button {

  -webkit-transition-duration: 0.6s;

  transition-duration: 0.6s;

  -moz-transition-duration: 0.6s;

  -ms-transition-duration: 0.6s;

}

ul {

  margin: 0px;

  padding: 0px;

}

ul li {

  list-style-type: none;

}

h1, h2, h3, h4, h5, h6 {

  color: #000;

}

h1, .h1 {

  font-size: 70px;

}

h2, .h2 {

  font-size: 38px;

}

h3, .h3 {

  font-size: 24px;

}

h4, .h4 {

  font-size: 22px;

}

h5, .h5 {

  font-size: 18px;

}

h6, .h6 {

  font-size: 15px;

}

::-webkit-scrollbar-track {

  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

  border-radius: 10px;

  background-color: #F5F5F5;

}

::-webkit-scrollbar {

  width: 8px;

  background-color: #F5F5F5;

}

::-webkit-scrollbar-thumb {

  border-radius: 10px;

  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);

  background-color: #6B7A8F;

}

.btn-primary {

  background-color: #6B7A8F;

  border-color: #5c697b;

}

.btn-primary:hover {

  background-color: #485362;

  border-color: #485362;

}

.section, section {

  padding: 40px;

}

.section-top {

  padding: 110px 0px 40px 0;

}

.custom-label {

  color: #555;

  line-height: 1.4;

  text-transform: uppercase;

  display: block;

}

.custom-input {

  font-size: 14px;

  display: block;

  width: 100%;

  height: 40px;

  padding: 10px 15px;

  background-color: #fff;

  border: 1px solid #e6e6e6;

  border-radius: 3px;

  line-height: 1.2;

  -webkit-transition-duration: 0.6s;

  transition-duration: 0.6s;

  -moz-transition-duration: 0.6s;

  -ms-transition-duration: 0.6s;

}

.custom-input:focus {

  border-color: #333;

}

.error-message {

  margin-top: 5px;

  font-size: 13px;

  color: #ff5252;

}

.custom-bt {

  font-size: 16px;

  line-height: 1.5;

  color: #fff;

  text-transform: uppercase;

  height: 50px;

  border-radius: 3px;

  background-color: #6B7A8F;

  padding: 0 25px;

  -webkit-transition-duration: 0.6s;

  transition-duration: 0.6s;

  -moz-transition-duration: 0.6s;

  -ms-transition-duration: 0.6s;

  cursor: pointer;

  border: none;

  font-weight: bold;

}

.custom-bt.block {

  width: 100%;

}

.custom-bt:hover {

  background-color: #485362;

}

.custom-checkbox {

  display: block;

  position: relative;

  padding-left: 30px;

  cursor: pointer;

  font-size: 15px;

  -webkit-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;

}

.custom-checkbox:last-child {

  margin-bottom: 0px;

}

/* Hide the browser's default checkbox */

.custom-checkbox input {

  position: absolute;

  opacity: 0;

  cursor: pointer;

  height: 0;

  width: 0;

}

/* Create a custom checkbox */

.checkmark {

  position: absolute;

  top: 0;

  left: 0;

  height: 20px;

  width: 20px;

  background-color: #ccc;

}

/* On mouse-over, add a grey background color */

.custom-checkbox:hover input ~ .checkmark {

  background-color: #ccc;

}

/* When the checkbox is checked, add a blue background */

.custom-checkbox input:checked ~ .checkmark {

  background-color: #6b7a8f;

}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {

  content: "";

  position: absolute;

  display: none;

}

/* Show the checkmark when checked */

.custom-checkbox input:checked ~ .checkmark:after {

  display: block;

}

/* Style the checkmark/indicator */

.custom-checkbox .checkmark:after {

  left: 8px;

  top: 4px;

  width: 5px;

  height: 10px;

  border: solid white;

  border-width: 0 3px 3px 0;

  -webkit-transform: rotate(45deg);

  -ms-transform: rotate(45deg);

  transform: rotate(45deg);

}

.white-box {

  background-color: #fff;

  padding: 20px;

  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.050), 0px 2px 5px rgba(0, 0, 0, 0.05);

  border-radius: 3px;

  -ms-border-radius: 3px;

  margin-bottom: 20px;

}

.popup {

  width: 100%;

  height: 100%;

  display: none;

  position: fixed;

  top: 0px;

  left: 0px;

  background: rgba(0, 0, 0, 0.6);

  z-index: 999;

}

.popup-inner {

  overflow: hidden;

  border-radius: 3px;

  max-width: 600px;

  position: absolute;

  top: 50%;

  left: 50%;

  -webkit-transform: translate(-50%, -50%);

  -ms-transform: translate(-50%, -50%);

  -moz-transform: translate(-50%, -50%);

  transform: translate(-50%, -50%);

  background: #fff;

  border-radius: 3px;

}

.popup-inner-header {

  background: #f7f7f7;

  padding: 15px 20px;

  font-size: 16px;

  color: #000;

  border-radius: 0px 0px 0 0;

  -ms-border-radius: 0px 0px 0 0;

}

.popup-inner-body {

  padding: 20px;

}

.popup-close {

  width: 50px;

  height: 53px;

  cursor: pointer;

  display: inline-block;

  position: absolute;

  top: 26px;

  right: 25px;

  -moz-transition: ease 0.25s all;

  -ms-transition: ease 0.25s all;

  transition: ease 0.25s all;

  -webkit-transition: ease 0.25s all;

  -webkit-transform: translate(50%, -50%);

  -ms-transform: translate(50%, -50%);

  -moz-transform: translate(50%, -50%);

  transform: translate(50%, -50%);

  background: #f7f7f7;

  font-size: 27px;

  text-align: center;

  line-height: 50px;

}

.popup-close:hover {

  color: #ccc;

}

.input-container {

  margin-top: 20px;

  /* max-width: 300px; */

  background-color: #EDEDED;

  border: 1px solid #6B7A8F;

  border-radius: 5px;

}

.input-container input[type='file'] {

  display: none;

}

.file-info {

  font-size: 0.9em;

}

.browse-btn {

  background: #6B7A8F;

  color: #fff;

  min-height: 35px;

  padding: 10px;

  border: none;

  border-top-left-radius: 5px;

  border-bottom-left-radius: 5px;

  margin-right: 10px;

  cursor: pointer;

}

.browse-btn:hover {

  background: #222;

}

header {

  background-color: #ffffff;

  padding: 0;

  position: fixed;

  top: 0;

  width: 100%;

  box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);

  z-index: 99;

}

.navigation-portrait {

  height: 48px;

}

.navigation-fixed {

  position: fixed;

  top: 0;

  left: 0;

  z-index: 19998;

}

.navigation-hidden {

  width: 0 !important;

  height: 0 !important;

  margin: 0 !important;

  padding: 0 !important;

}

.align-to-right {

  float: right;

}

.nav-header {

  float: left;

  padding: 0;

}

.navigation-hidden .nav-header {

  display: none;

}

.nav-brand {

  padding: 0 15px;

}

.nav-brand img {

  max-width: 180px;

}

.nav-brand:hover, .nav-brand:focus {

  color: #F05F40;

}

.navigation-portrait .nav-brand {

  font-size: 18px;

  line-height: 48px;

}

.nav-logo > img {

  height: 48px;

  margin: 11px auto;

  padding: 0 15px;

  float: left;

}

.nav-logo:focus > img {

  outline: initial;

}

.navigation-portrait .nav-logo > img {

  height: 36px;

  margin: 6px auto 6px 15px;

  padding: 0;

}

.nav-toggle {

  width: 30px;

  height: 30px;

  padding: 6px 2px 0;

  position: absolute;

  top: 50%;

  margin-top: -14px;

  right: 15px;

  display: none;

  cursor: pointer;

}

.nav-toggle:before {

  content: "";

  position: absolute;

  width: 24px;

  height: 2px;

  background-color: #70798b;

  border-radius: 10px;

  box-shadow: 0 0.5em 0 0 #70798b, 0 1em 0 0 #70798b;

}

.navigation-portrait .nav-toggle {

  display: block;

}

.navigation-portrait .nav-menus-wrapper {

  width: 320px;

  height: 100%;

  top: 0;

  left: -400px;

  position: fixed;

  background-color: #ffffff;

  z-index: 20000;

  overflow-y: auto;

  -webkit-overflow-scrolling: touch;

  -webkit-transition-duration: .8s;

  transition-duration: .8s;

  -webkit-transition-timing-function: ease;

  transition-timing-function: ease;

}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right {

  left: auto;

  right: -400px;

}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-open {

  left: 0;

}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right.nav-menus-wrapper-open {

  left: auto;

  right: 0;

}

.nav-menus-wrapper-close-button {

  width: 30px;

  height: 40px;

  margin: 10px 7px;

  display: none;

  float: right;

  color: #70798b;

  font-size: 26px;

  cursor: pointer;

}

.navigation-portrait .nav-menus-wrapper-close-button {

  display: block;

}

.nav-menu {

  text-align: right;

}

.navigation-portrait .nav-menu {

  width: 100%;

}

.navigation-landscape .nav-menu.nav-menu-centered {

  float: none;

  text-align: center;

}

.navigation-landscape .nav-menu.nav-menu-centered > li {

  float: none;

}

.nav-menu > li {

  display: inline-block;

  text-align: left;

  position: relative;

}

.navigation-portrait .nav-menu > li {

  width: 100%;

  position: relative;

  border-top: solid 1px #f0f0f0;

}

.navigation-portrait .nav-menu > li:last-child {

  border-bottom: solid 1px #f0f0f0;

}

.nav-menu + .nav-menu > li:first-child {

  border-top: none;

}

.nav-menu > li > a {

  padding: 25px 15px;

  display: inline-block;

  text-decoration: none;

  color: #222;

  -webkit-transition: color 0.3s, background 0.3s;

  transition: color 0.3s, background 0.3s;

  text-transform: uppercase;

}

.navigation-portrait .nav-menu > li > a {

  width: 100%;

  height: auto;

  padding: 12px 15px 12px 26px;

}

.nav-menu > li:hover > a, .nav-menu > li.active > a, .nav-menu > li.focus > a {

  color: #f7882f;

}

.nav-menu > li > a > i, .nav-menu > li > a > [class*="ion-"] {

  width: 18px;

  height: 16px;

  line-height: 16px;

  -webkit-transform: scale(1.4);

  -ms-transform: scale(1.4);

  transform: scale(1.4);

  color: #f7882f;

}

.nav-menu > li > a > [class*="ion-"] {

  width: 16px;

  display: inline-block;

  -webkit-transform: scale(1.8);

  -ms-transform: scale(1.8);

  transform: scale(1.8);

}

.submenu-indicator {

  margin-left: 6px;

  margin-top: 6px;

  float: right;

  -webkit-transition: all 0.3s;

  transition: all 0.3s;

}

.navigation-portrait .submenu-indicator {

  width: 54px;

  height: 44px;

  margin-top: 0;

  position: absolute;

  top: 0;

  right: 0;

  text-align: center;

  z-index: 20000;

}

.submenu-indicator-chevron {

  height: 6px;

  width: 6px;

  display: block;

  border-style: solid;

  border-width: 0 1px 1px 0;

  border-color: transparent #70798b #70798b transparent;

  -webkit-transform: rotate(45deg);

  -ms-transform: rotate(45deg);

  transform: rotate(45deg);

  -webkit-transition: border 0.3s;

  transition: border 0.3s;

}

.navigation-portrait .submenu-indicator-chevron {

  position: absolute;

  top: 18px;

  left: 24px;

}

.nav-menu > li:hover > a .submenu-indicator-chevron, .nav-menu > .active > a .submenu-indicator-chevron, .nav-menu > .focus > a .submenu-indicator-chevron {

  border-color: transparent #F9690E #F9690E transparent;

}

.navigation-portrait .submenu-indicator.submenu-indicator-up {

  -webkit-transform: rotate(-180deg);

  -ms-transform: rotate(-180deg);

  transform: rotate(-180deg);

}

.nav-overlay-panel {

  width: 100%;

  height: 100%;

  top: 0;

  left: 0;

  position: fixed;

  display: none;

  z-index: 19999;

}

.no-scroll {

  width: 100%;

  height: 100%;

  overflow: hidden;

}

/* NAVIGATION BUTTON */

.nav-button {

  margin: 18px 15px 0;

  padding: 8px 14px;

  display: inline-block;

  color: #fff;

  font-size: 14px;

  text-align: center;

  text-decoration: none;

  border-radius: 4px;

  background-color: #F9690E;

  -webkit-transition: opacity 0.3s;

  transition: opacity 0.3s;

}

.nav-button:hover, .nav-button:focus {

  color: #fff;

  text-decoration: none;

  opacity: 0.85;

}

.navigation-portrait .nav-button {

  width: calc(100% - 52px);

  margin: 17px 26px;

}

/* NAVIGATION TEXT */

.nav-text {

  margin: 25px 15px;

  display: inline-block;

  color: #70798b;

  font-size: 14px;

}

.navigation-portrait .nav-text {

  width: calc(100% - 52px);

  margin: 12px 26px 0;

}

.navigation-portrait .nav-text + ul {

  margin-top: 15px;

}

/* DROPDOWN EXTENSION */

.nav-dropdown {

  min-width: 180px;

  margin: 0;

  padding: 0;

  display: none;

  position: absolute;

  list-style: none;

  z-index: 98;

  white-space: nowrap;

  background-color: #fff;

  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21176470588235294);

}

.navigation-portrait .nav-dropdown {

  width: 100%;

  position: static;

  left: 0;

}

.nav-dropdown .nav-dropdown {

  left: 100%;

}

.nav-menu > li > .nav-dropdown {

  border-top: solid 4px #f7882f;

}

.nav-dropdown > li {

  width: 100%;

  float: left;

  clear: both;

  position: relative;

  text-align: left;

}

.nav-dropdown > li > a {

  width: 100%;

  padding: 12px 20px;

  display: inline-block;

  text-decoration: none;

  float: left;  /* font-size: 13px; */

  color: #222;

  -webkit-transition: color 0.3s, background 0.3s;

  transition: color 0.3s, background 0.3s;

}

.nav-dropdown > li:hover > a, .nav-dropdown > li.focus > a {

  color: #f7882f;

}

.nav-dropdown.nav-dropdown-left {

  right: 0;

}

.nav-dropdown > li > .nav-dropdown-left {

  left: auto;

  right: 100%;

}

.navigation-landscape .nav-dropdown.nav-dropdown-left > li > a {

  text-align: right;

}

.navigation-portrait .nav-dropdown > li > a {

  padding: 12px 20px 12px 30px;

}

.navigation-portrait .nav-dropdown > li > ul > li > a {

  padding-left: 50px;

}

.navigation-portrait .nav-dropdown > li > ul > li > ul > li > a {

  padding-left: 70px;

}

.navigation-portrait .nav-dropdown > li > ul > li > ul > li > ul > li > a {

  padding-left: 90px;

}

.navigation-portrait .nav-dropdown > li > ul > li > ul > li > ul > li > ul > li > a {

  padding-left: 110px;

}

.nav-dropdown .submenu-indicator {

  right: 15px;

  top: 16px;

  position: absolute;

}

.navigation-portrait .nav-dropdown .submenu-indicator {

  right: 0;

  top: 0;

}

.nav-dropdown .submenu-indicator .submenu-indicator-chevron {

  -webkit-transform: rotate(-45deg);

  -ms-transform: rotate(-45deg);

  transform: rotate(-45deg);

}

.navigation-portrait .nav-dropdown .submenu-indicator .submenu-indicator-chevron {

  -webkit-transform: rotate(45deg);

  -ms-transform: rotate(45deg);

  transform: rotate(45deg);

}

.nav-dropdown > li:hover > a .submenu-indicator-chevron, .nav-dropdown > .focus > a .submenu-indicator-chevron {

  border-color: transparent #F9690E #F9690E transparent;

}

.navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator {

  left: 10px;

}

.navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator .submenu-indicator-chevron {

  -webkit-transform: rotate(135deg);

  -ms-transform: rotate(135deg);

  transform: rotate(135deg);

}

.main-book-design .sidebar .option ul {

  margin-top: 15px;

}

.main-book-design .sidebar .option ul li {

  margin-top: 10px;

  font-size: 12px;

}

.main-book-design .sidebar .quote ul {

  margin-top: 15px;

}

.main-book-design .sidebar .quote ul li {

  margin-top: 7px;

  font-size: 12px;

  border-bottom: 1px dashed #f2f2f2;

  padding-bottom: 7px;

}

.main-book-design .sidebar .quote ul li strong {

  float: right;

  font-size: 16px;

}

.main-book-design .sidebar .quote ul li:last-child {

  border: none;

  padding: 0;

}

.main-book-design .design-items {

  position: relative;

  min-height: 271px;

}

.main-book-design .design-items .nextBtn, .main-book-design .design-items .backBtn {

  position: absolute;

  bottom: -85px;

  border: none;

  background-color: #6B7A8F;

  color: #fff;

  cursor: pointer;

  border-radius: 3px;

}

.main-book-design .design-items .nextBtn {

  right: 0;

  padding: 5px 35px 5px 17px;

}

.main-book-design .design-items .backBtn {

  left: 0px;

  padding: 5px 17px 5px 35px;

}

.main-book-design .design-items .nextBtn i, .main-book-design .design-items .backBtn i {

  font-size: 19px;

  top: 7px;

  position: absolute;

}

.main-book-design .design-items .nextBtn i {

  right: 8px;

}

.main-book-design .design-items .backBtn i {

  left: 8px;

}

.next-back-box {

  padding: 30px;

}

.main-book-design .design-items .nextBtn:hover, .main-book-design .design-items .backBtn:hover {

  background-color: #485362;

}

.main-book-design .design-items ul li {

  float: left;

  width: 20%;

}

.main-book-design .design-items .service-block {

  text-align: center;

  padding: 0 10px;

  margin-top: 15px;

  position: relative;

}

.main-book-design .design-items .service-block .img {

  height: 110px;

  display: -ms-flex;

  display: flex;

  justify-content: center;

  align-items: center;

  -ms-flex-align: center;

  -webkit-box-pack: center;

  -ms-flex-pack: center;

  background-color: #fafafa;

  border: 1px solid #eee;

  border-radius: 100%;

  -ms-border-radius: 100%;

  width: 110px;

  margin: 0px auto;

  padding: 15px;

  cursor: pointer;

  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);

  -ms-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);

  position: relative;

}

.main-book-design .design-items .service-block:hover .img {

  transform: scale(1.05);

  -webkit-transform: scale(1.05);

  -ms-transform: scale(1.05);

  -moz-transform: scale(1.05);

  border-color: #ccc;

}

.main-book-design .design-items .service-block h6 {

  margin-top: 8px;

  font-size: 13px;

  min-height: 35px;

}

.main-book-design .design-items ul li.selected .service-block .img:before {

  content: "\f00c";

  font-family: 'FontAwesome';

  width: 100%;

  height: 100%;

  top: 0;

  left: 0;

  position: absolute;

  border-radius: 50%;

  background-color: rgba(107, 122, 143, 0.8);

  color: rgb(255, 255, 255);

  font-size: 30px;

  line-height: 100px;

  -webkit-transition-duration: 0.6s;

  transition-duration: 0.6s;

  -moz-transition-duration: 0.6s;

  -ms-transition-duration: 0.6s;

}

.main-book-design .design-items input[type="radio"]:checked, .main-book-design .design-items input[type="radio"]:not(:checked) {

  position: absolute;

  left: -9999px;

}

.main-book-design .design-items .save-project {

  max-width: 500px;

  margin: 0px auto;

  text-align: center;

  background-color: #fafafa;

  padding: 30px 50px;

  border-radius: 3px;

  border: 1px solid #eee;

}

.main-book-design .design-items .save-project h4 {

  margin-bottom: 20px;

}

.main-book-design .design-items .service-block a.info {

  background-color: #6B7A8F;

  color: #fff;

  padding: 0;

  display: inline-block;

  font-size: 12px;

  border-radius: 3px;

  -ms-border-radius: 3px;

  position: absolute;

  top: 2px;

  right: -80px;

  left: 0;

  width: 20px;

  height: 20px;

  border-radius: 50%;

  -ms-border-radius: 50%;

  margin: 0px auto;

}

.main-book-design .design-items .service-block a.info:hover {

  background-color: #222;

}

.main-book-design .design-steps ul li.step {

  position: relative;

  text-align: center;

  z-index: 1;

  padding: 0px 0;

}

.main-book-design .design-steps ul li.step a {

  background-color: #eee;

  width: 20px;

  height: 20px;

  display: inline-block;

  border-radius: 50%;

  -ms-border-radius: 50%;

  font-size: 12px;

}

.main-book-design .design-steps ul li.step a[disabled] {

  opacity: 0.2;

  cursor: default;

  pointer-events: none;

}

.main-book-design .design-steps ul li.step a:before {

  content: "";

  width: 50%;

  height: 1px;

  border-top: 1px dashed #eee;

  position: absolute;

  left: 0;

  top: 14px;

  z-index: -1;

}

.main-book-design .design-steps ul li.step a:after {

  content: "";

  width: 50%;

  height: 1px;

  border-top: 1px dashed #eee;

  position: absolute;

  right: 0;

  top: 14px;

  z-index: -1;

}

.main-book-design .design-steps ul li.step a.checked {

  background-color: #6B7A8F;

  color: #fff;

}

.main-book-design .design-steps ul li.step a.checked:before {

  border-color: #f78a2f;

}

.main-book-design .design-steps ul li.step a.checked:after {

  border-color: #f78a2f;

}





.my-account, .login-signup

{

   min-height: calc(100vh - 62px);

}





.login-signup, .page-sub-title {

  background-color: #5a6069;

}

.login-signup .white-box {

  padding: 30px;

}

.login-signup-form h3 {

  margin-bottom: 20px;

}

.login-signup .login-signup-form .forgot-password {

  text-align: right;

  margin-bottom: 20px;

}

.login-signup .login-signup-form .forgot-password {

  font-size: 12px;

  text-decoration: underline;

}

.login-signup .login-signup-form .signup-link {

  margin-top: 30px;

  text-align: center;

}

.login-signup .login-signup-form .signup-link a {

  text-decoration: underline;

}

footer {

  background-color: #222;

  padding: 20px 0;

}

footer .copy-right {

  font-weight: 400;

  letter-spacing: 2px;

  color: #7a7a7a;

  text-align: center;

}

.profile-img .profile-pic {

  height: 130px;

  width: 130px;

  border-radius: 50%;

}

.profile-img .file-upload {

  display: none;

}

.profile-img .circle {

  border-radius: 50%;

  overflow: hidden;

  width: 140px;

  height: 140px;

  border: 5px solid #212121;

  position: relative;

  text-align: center;

  margin: 0px auto;

}

.profile-img .p-image {

  position: absolute;

  top: 21px;

  right: 85px;

  color: #6B7A8F;

  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);

  cursor: pointer;

}

.profile-img .p-image:hover {

  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);

}

.profile-img .upload-button {

  font-size: 1.2em;

}

.profile-img .upload-button:hover {

  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);

  color: #6B7A8F;

}

.page-sub-title {

  padding: 93px 0 23px 0;

  color: rgba(255, 255, 255, 0.95);

}

.page-sub-title .breadcrumbs ul li {

  float: left;

  margin-right: 30px;

  position: relative;

}

.page-sub-title .breadcrumbs ul li:after {

  content: "\f112";

  font-family: "LineAwesome";

  font-size: 12px;

  position: absolute;

  right: -21px;

  top: 3px;

}

.page-sub-title .breadcrumbs ul li:last-child:after {

  display: none;

}

.page-sub-title .breadcrumbs ul li a {

  color: rgba(255, 255, 255, 0.95);

}

.page-sub-title .breadcrumbs ul li a:hover {

  color: #fff;

}

.page-sub-title .login-info {

  text-align: right;

}

.quote .quote-list .date-status {

  padding: 4px 0;

}

.quote .quote-list .date-status ul {

  text-align: right;

}

.quote .quote-list .date-status ul li {

  display: inline-block;

  border-right: 1px solid #ccc;

  padding: 0px 10px;

}

.quote .quote-list .date-status ul li:last-child {

  padding-right: 0;

  border: none;

  color: #000000;

}

.quote .quote-list .quote-details {

  margin-top: 15px;

}

.quote .quote-list .quote-details .total ul li {

  margin-bottom: 15px;

}

.quote .quote-list .quote-details .total ul li:last-child {

  font-weight: 600;

}

.quote .quote-list .quote-action {

  background-color: #f8f8f8;

  padding: 13px 15px;

  border: 1px solid #eee;

  border-radius: 3px;

}

.quote .filter-type

{

  padding: 12px;

  border: 1px solid #c1c1c1;

  margin-bottom: 30px;

  border-radius: 3px;

}

.quote .filter-type span

{

  padding: 4px 0;

  display: block;

}

.quote .filter-type .filter-selection

{

  text-align: right;

}

.quote .filter-type .filter-selection  select

{

  border: 1px solid #eee;

  padding: 4px 10px;

  border-radius: 3px;

}

.place-order h5 {

  margin-bottom: 20px;

}

.place-order .billing-checkbox {

  background-color: #f8f8f8;

  padding: 10px 20px;

}

.place-order .tax-checkbox {

  background-color: #f8f8f8;

  padding: 10px 20px;

}

.place-order .project-summary .summary-list {

  height: 185px;

  overflow-y: scroll;

}

.place-order .project-summary .summary-list ul {

}

.place-order .project-summary .summary-list ul li {

  padding: 10px 5px;

  border-bottom: 1px solid #eee;

}

.place-order .project-summary .summary-list ul li:last-child {

  border: none;

}

.place-order .project-summary .summary-list ul li span {

  float: right;

  font-size: 12px;

}

.place-order .total {

  background-color: #f8f8f8;

  border: 1px solid #eee;

  padding: 0px 15px;

  border-radius: 3px;

  margin-top: 20px;

}

.place-order .total ul li {

  padding: 5px 0;

  border-bottom: 1px dashed #eee;

}

.place-order .total ul li:last-child {

  border: none;

  font-weight: bold;

}

.place-order .total ul li span {

  float: right;

  font-weight: bold;

}

.place-order .cupon-code {

}

.place-order .cupon-code input {

  background-color: #f8f8f8;

  float: left;

  padding: 8px 15px;

  border: 1px solid #eee;

  width: 300px;

}

.place-order .cupon-code button {

  border: none;

  padding: 9px 30px;

  background-color: #6B7A8F;

  color: #fff;

  font-weight: bold;

  cursor: pointer;

}

.place-order .cupon-code button:hover {

  background-color: #6B7A8F;

}

.place-order .cupon-code .message {

  font-size: 13px;

  margin-top: 10px;

  padding: 4px 10px;

  max-width: 240px;

  color: #fff;

}

.place-order .cupon-code .message.error {

  background-color: #ffa4a4;

  border: 1px solid #ff9494;

}

.place-order .cupon-code .message.sucess {

  background-color: #5ccf4f;

  border: 1px solid #4ab53d;

}

@media print {

  body {

    background-image: none;

    display: block;

    background-color: #fff;

  }

  .quote-details .print, .place-order

  {

    display: none;

  }

  .white-box{background-color: #f6f6f6;}

}

/*BK Loader*/

.bkloader { position: fixed; height: 100%; width: 100%; background: #000000a1; z-index: 999999; top: 0; }

.bkloader .loader { border: 10px solid #ffffff; border-top: 10px solid #f7882f; width: 100px; height: 100px; top: calc(50% - 66px); right: 0; left: 0; margin: 0px auto; border-radius: 50%; -webkit-animation: spin 2s linear infinite;animation: spin 2s linear infinite;position: absolute;  }



/* Safari */

@-webkit-keyframes spin {

    0% { -webkit-transform: rotate(0deg); }

    100% { -webkit-transform: rotate(360deg); }

}

@keyframes spin {

    0% { transform: rotate(0deg); }

    100% { transform: rotate(360deg); }

}